<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    
   <link rel="stylesheet" href="./style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <nav class="navbar bg-body-tertiary shadow">
    <div class="container-fluid align-middle">
        <a class="navbar-brand align-middle" href="#">
            <img src="/svgs/link-svgrepo-com (1).svg" alt="Logo" width="42" height="39"
                class="d-inline-block align-text-top align-middle">
                <b>Job Link</b> 
        </a>
    </div>
</nav>
{{{body}}}
</body>
</html>