{{#if loggedIn}}





{{else}}
<section class="sectionROUTE ">
 <div class="card shadow border position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
  <h1>MUST LOG IN!</h1>
        <img src="/svgs/grooming-1801287.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> 
            Please <a href="https://pure-lowlands-78827.herokuapp.com/login"> login</a> to access for the homepage
          </p>
        </div>
      </div>
{{/if}}