 <nav>
        <h3> <span>Home</span> <span> Dashboard</span> <span> Logout </span></h3>
        <div>
            <h1>The Tech Blog</h1>
        </div>
    </nav>
    <section class="container">
        <div class="title"> <span class="textTitle">Why i love to code</span> <span> ON :</span></div>
        <div class="text">theasdfasdfasdfasfdasdf </div>
    </section>
    <button class="newPost"> +New Post</button>
    <section class="container">
        <div class="title"> <span class="textTitle">Sign Up</span> </div>
        <form>
            <label for="name">hi</label>
            <input type="text">
            <label for="password">Password</label>
            <input type="password">
            <button class="btnSubmit">Sign Up</button>
            <a href="http://hi">hi</a>
        </form>
    </section>