 {{#if logged_in }}
 {{#each mutiposts as |post|}}
    <section class="container">
        <div class="title"> <span class="textTitle">{{post.Title}}</span> <span> ON :</span></div>
        <div class="text">{{post.Description}} </div>
    </section>
   
    </section>
    {{/each}}
    
    {{else}}
<section class="sectionROUTE ">
 <div class="card shadow border position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
  <h1>MUST LOG IN!</h1>
       
        <div class="card-body">
          <p class="card-text"> 
            Please <a href="http://localhost:3001/login"> login</a> to access for the homepage
          </p>
        </div>
      </div>
{{/if}}
