<section class="container" id="SignupForm">
    <div class="title"> <span class="textTitle">Sign Up</span> </div>
    <form>
        <label for="name">hi</label>
        <input type="text">
        <label for="password">Password</label>
        <input type="password">
        <button class="btnSubmit"  id="btnSignUp">Sign Up</button>
        <a class="Links" href="#">hi</a>
    </form>

</section>
<section class="container" id="loginForm">
    <div class="title"> <span class="textTitle">Login</span> </div>
    <form>
        <label for="name">Username</label>
        <input id="txtLogin" type="text">
        <label for="password">Password</label>
        <input id="txtPassword" type="password">
        <button class="btnSubmit" id="btnLogin">Login </button>
    </form>
       <b> <a class="Link" href="#">Sign up instead</a></b>
</section>

<script src="./js/login.js"></script>