 <section class="container">
        <div class="title"> <span class="textTitle">Sign Up</span> </div>
        <form>
            <label for="name">hi</label>
            <input type="text">
            <label for="password">Password</label>
            <input type="password">
            <button class="btnSubmit">Sign Up</button>
            <a href="http://hi">hi</a>
        </form>